.centralDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    /* border: 3px solid red; */
 }

 .divGrid{
    /* border: 4px solid red; */
    display: grid;
    width: 70%;
    gap: 50px;
    grid-template-areas: 
    "img img stats stats suggestions"
    ;
 }

 .flexImgSection{
    /* border: 4px solid rgb(0, 107, 128); */
    width: 300px;
    grid-area: img;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
 }

 .flexImgSection> button{
   margin-top: 10px;
   background-color: #04AA6D;
   border-color: #04AA6D;
   height: 40px;
   /* border: 2px solid aliceblue; */
   border-radius: 4px;
   font-size: 1em;
    font-weight: 700;
    color: #ccc;

 }

 .itemGridTwo{
    /* border: 4px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 15px;
    grid-area: stats;
 }

 .itemGridTwo > h2, h3, h4, h5{
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    margin-bottom: 15px;
    margin-top: 0px;
    color: #ccc;
 }

 .itemGridTwo > h3 > span{
   color: aquamarine;
 }

 .itemGridThree{
   grid-area: suggestions;
 }

 h4 > svg {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    filter: drop-shadow(2px 2px 1px rgb(0 0 0 / 0.4));
    color: #ccc;
 }

 .itemGridTwo > h4 > span{
   padding: 5px;
   border: 1px solid rgb(105, 241, 42);
   background-color: rgba(105, 241, 42, 0.44);
   border-radius: 3px;
 }

 .downloadIcon > svg{
   color: rgb(105, 241, 42);
   filter: drop-shadow(2px 2px 1px rgb(0 0 0 / 0.4));
 }

 .likeIcon > svg{
   color: rgb(255, 30, 30);
   filter: drop-shadow(2px 2px 1px rgb(0 0 0 / 0.4));
 }

 .starIcon > svg{
   color: yellow;
   filter: drop-shadow(2px 2px 1px rgb(0 0 0 / 0.4));
 }

 img {
    height: 410px;
    border-radius: 5px;
    border: solid 4px rgb(227, 227, 227);
    border-radius: 3px;
}