html {
  box-sizing: border-box;
  
  width: 100%;
  height: 100%;
  /* background-color: #161616e8; */
}

.app{
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  background: #1f2121;  
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);

}

/* nav {
  width: 100%;
  background-color: #1d1d1d;
  padding-left: 60px;
  padding-right: 60px;
} */

h1{
  color: white;
}




